#theGuardianContainer {
    min-height: 100%;
    width: 100%;
    background: 
        /* linear-gradient(
            rgba(54, 47, 24, 0.445), 
            rgba(54, 47, 24, 0.445)
        ), */
        url('../Media/oldParchmentWallpaper.jpg');
    background-size: cover;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 2%;
}

#gamePlayContainer {
    min-width: 100%;
    min-height: fit-content;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    background-color: rgba(248, 240, 213, 0.5);
    margin: 2%;
}

#sidebarContainer {
    width: 10%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
}

#gameport {
    width: 90%;
    height: 100%;
    overflow: auto;
    background: rgba(255, 233, 162, 0.705);
}

#windowport {
    height: 100%;
    width: 100%;
}